.selected {
  background-color: #E8784F;
}
.players {
   border: 2px solid #E8784F;
   padding-bottom: 20px;
   /*padding-top: 20px;*/
}

.add-player{
  margin-top: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.player-menu{
  border: 2px solid #E8784F;
  margin-top: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}